//reset cs
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    // font-family: ;
}

body {
    overflow: hidden;
}

label {
    font-weight: 500;
}

input {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    // color: ;
}

h1 {
    font-size: 24px;
    font-weight: 700;
}

h2 {
    font-size: 20px;
    font-weight: 700;
}

h3 {
    font-size: 18px;
    font-weight: 700;
}

h3 {
    font-size: 16px;
    font-weight: 700;
}

*:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6):not(small):not(em):not(u) {
    // font-size: ;
}

input,
textarea {
    font-family: inherit;
}

textarea {
    // resize: none;
}